@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "./components/tooltip.scss";
@tailwind base;
* {
  @apply font-['Manrope',sans-serif];
}

body {
  @apply text-white bg-dark-100;
}

input {
  accent-color: #b53bfe;
}
a {
  @apply text-primary;
}

::selection {
  @apply bg-primary/50 text-white;
}

::-webkit-scrollbar {
  width: 0px;
}


#nprogress .bar {
  background: rgb(181 59 254) !important;
  height: 1.4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgb(181 59 254), 0 0 5px rgb(181 59 254);
}

#nprogress .spinner-icon {
  display: none;
}

.page {
  @apply p-8 overflow-auto;
}

#chart svg {
  @apply overflow-visible;
}

.apexcharts-tooltip {
  @apply bg-dark-200 shadow-none font-medium;
}

/* Buttons */

.primary {
  @apply transition bg-primary/10 hover:bg-primary/20 text-primary px-4 py-2.5 text-xs font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-primary/30;
}

.ps__rail-x, .ps__rail-y{
  background-color: transparent !important;
}

.ps__thumb-y, .ps__thumb-x{
  @apply relative rounded-xl flex border-y-8 border-transparent after:content-[''] after:absolute after:bg-white/10 after:hover:bg-white/30 after:w-full after:h-full after:rounded-xl;
  background-color: transparent !important;
}

@tailwind components;
@tailwind utilities;