@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@tailwind base;

* {
  @apply font-['Manrope',sans-serif];
}

body {
  @apply text-white bg-dark-100;
}

input{
  accent-color: #B53BFE;
}

a {
  @apply text-primary;
}

::selection {
  @apply bg-primary/50 text-white;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500/30;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500/60;
}

#nprogress .bar {
  background: rgb(181 59 254) !important;
  height: 1.4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgb(181 59 254), 0 0 5px rgb(181 59 254);
}

#nprogress .spinner-icon {
  display: none;
}


/* Buttons */

.primary{
  @apply transition bg-primary/10 hover:bg-primary/20 text-primary px-4 py-2.5 text-xs font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-primary/30 ;
}

@tailwind components;
@tailwind utilities;
